* {
    box-sizing: border-box;
}

body {
    font-family:sans-serif
}

header{
    border-radius: 30px;
    padding: 40px;
    text-align: center;
    background-color: beige;
}

li, p {
    justify-content:center;
    font-size: larger;
    display: flex;
    background-color: cornsilk;
    border-radius: 20%;
}

h4 {
    background-color: cadetblue;
    border-radius: 30px;
    font-size: x-large;
    display: flex;
    justify-content: center;
}


nav a  { 
    background-color: beige;
    display:inline-block;
    cursor:pointer;
    color:#0a090a;
    font-family:Arial;
    font-size:17px;
    padding:16px 31px;
    text-decoration:none;
  }
nav a:hover {
    background-color:transparent;
    box-shadow: 0px 9px 0px 0px beige;
  }
nav a:active {
    position:relative;
    top:1px;
  }
.yesica, .refactor-hw {
    width: 50%;
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.mainnav {
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
    background-color: beige;
}


